@charset "UTF-8";
.dp-f{
  display: flex;
}
.flex{
  flex: 1;
}
.flex1{
  flex:1;
}
.bold{
  font-weight:bold;
}
.left-menu{
  width: 300px;
  position: fixed;
  left:0;
  top:50px;
  z-index: 0;//解决动画会上移动到图标上方的BUG
}
.main-content{
  margin-top: 45px;
}
.content{
  margin: 0 auto;
}
.fixed-header{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height:45px;
  line-height: 45px;
  color:#fff;
  z-index: 0;
  transition:left 1s cubic-bezier(0, 0, 0.2, 1);
  &:after{
    display:block;clear:both;content:"";visibility:hidden;height:0;zoom:1;
  }
  .header-left{
    float: left;
    height: 100%;
    cursor: pointer;
    .name{
      vertical-align: top;
      padding-left: 45px;
    }

  }
  .header-right{
    float: right;
    margin-right: 30px;

    a{
      color:#fff;
      text-decoration: none;
    }
  }
}
.bottom-icons{
  margin-bottom: 40px;
}
.pomelo-logo-wrapper{
  position: fixed;
  left:0;
  top:0;
  z-index: 1;
  button{
    z-index:1
  }
}
.pomelo-logo{
  height: 45px;
  line-height: 45px;
  width: 45px;
  position: fixed;
  left:0;
  top:0;
  color:#fff;
  cursor: pointer;
  box-sizing:border-box;
}
.left-menu{
  position: fixed;
  left:0;
  width: 45px;
  top:-100%;
  padding-top: 45px;
  //bottom:100%;
  height: 100%;
  //transition:bottom 1s cubic-bezier(0, 0, 0.2, 1);
  transition: top 1s cubic-bezier(0, 0, 0.2, 1);
  .icons-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    font-size: 20px;
    color:#fff;
  }
  ul{
    list-style: none;
  }
  li{
    text-align: center;
    cursor: pointer;
  }
}


.layout-footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
//动画
.example-enter {
  opacity: 0.01;
  transition: opacity .35s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  display:none;
}

.animate-to-right{
  left:-100%;
}

.animate-to-bottom{
  //bottom:0;
  top:0;
}