@charset "UTF-8";
@keyframes rightToLeft {
  0%{
    left:1980px;
  }
  100%{
    left:0;
  }
}
.dp-f{
  display: flex;
}
.flex{
  flex: 1;
}
.bold{
  font-weight:bold;
}
.left-menu{
  width: 300px;
  position: fixed;
  left:0;
  top:20px;
  z-index: 10;
}
.content{
  width: 960px;
  margin: 0 auto;
}


.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
//动画
.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0;
}