@charset "UTF-8";
.dp-f{
  display: flex;
}
.flex{
  flex: 1;
}
.bold{
  font-weight:bold;
}
.left-menu{
  width: 300px;
  position: fixed;
  left:0;
  top:50px;
  z-index: 10;
}
.main-content{
  margin-top: 45px;
}
.content{
  width: 960px;
  margin: 0 auto;
}
.fixed-header{
  position: fixed;
  top:0;
  left:0;
  right:0;
  height:45px;
  line-height: 45px;
  color:#fff;
  transition:right 1s cubic-bezier(0, 0, 0.2, 1);
  &:after{
    display:block;clear:both;content:"";visibility:hidden;height:0;zoom:1;
  }
  .header-left{
    float: left;
    height: 100%;
    cursor: pointer;
    .name{
      vertical-align: top;
    }

  }
  .header-right{
    float: right;
    margin-right: 30px;

    a{
      color:#fff;
      text-decoration: none;
    }
  }
}
.pomelo-logo{
  padding:0 10px;
}
.leftMenu{
  position: fixed;
  left:0;
  width: 45px;
  top:0;
  bottom:100%;
  transition:bottom 1s cubic-bezier(0, 0, 0.2, 1);
}


.layout-footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
//动画
.example-enter {
  opacity: 0.01;
  transition: opacity .35s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  display:none;
}

.animate-to-right{
  right:100%;
}

.animate-to-bottom{
  bottom:0;
}