.front-page{
  .header{
    color:#434343;
    font-weight: normal;
    text-align: center;
    h1{
      height: 340px;
      width: 960px;
      background: url('./images/title.png') no-repeat;
    }
  }
  .front-page-content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    font-size: 18px;
  }
  .data{
    display: inline-flex;
    margin: 0 20px;
    flex-direction: column;
    align-items: center;
    color:#747d93;
    .number{
      font-weight: bold;
      font-size: 20px;
    }
      span{
        flex:1
      }
  }

}